*, *::before, *::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	/*font-family: 'Architects Daughter';*/
	font-family: 'Quando';
	font-size: 1em;
	background: #f2f2f2;
}

/*.navBtn--top {
	width: 60px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top: 13px;
	left: 8px;
}

.navBtn--med	{
	width: 60px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top: 20px;
	left: 8px;
}


.navBtn--bottom {
	width: 60px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	bottom: 10px;
	left: 8px;
}
*/
